body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f4f4;
}

.card {
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 10px;
    color: #555;
}

.content-category {
    display: inline-block;
    padding: 10px 10px;
    background-color: #5fb5d2;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.content-date {
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
}

.content-title {
    margin: 3px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
}

.content {
    margin: 5px;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

/*아래부터는 페이징UI 코드*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 30px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ADD8E6; /* 연한 하늘색 */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #87CEEB; /* 약간 더 진한 하늘색 */
}

.pagination .active a {
    background-color: #4682B4; /* 더 진한 하늘색 */
}

.pagination .disabled a {
    background-color: #d3d3d3; /* 회색 */
    cursor: not-allowed;
}