.pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            padding:20px;
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a {
            display: inline-block;
            padding: 10px 15px;
            background-color: #ADD8E6; /* 연한 하늘색 */
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .pagination a:hover {
            background-color: #87CEEB; /* 약간 더 진한 하늘색 */
        }

        .pagination .active a {
            background-color: #4682B4; /* 더 진한 하늘색 */
        }

        .pagination .disabled a {
            background-color: #d3d3d3; /* 회색 */
            cursor: not-allowed;
        }